body {
    background-image: url('../img/floral.png');
}

#content-wrapper {
    @media (max-width: 767px) {
        margin-top: 70px;
    }
    @media (min-width: 768px) {
        margin-top: 200px;
    }
}

.login-container {
    @media (max-width: 767px) {
        //margin-top: 80px;
    }
}
