body {
    background-image: url('../img/floral.png');
}

#content-wrapper {
    @media (max-width: 768px) {
        margin-top: 40px;
    }
    @media (min-width: 768px) {
        margin-top: 170px;
    }
}