// Feature images on homepage
.feature-img {
    margin-top: 30px;
    filter: brightness(75%);
    width: 100%;
    @include transition(all 0.75s ease);

    &:hover {
        filter: brightness(100%);
        @include transform(scale(1.05));
    }
}
.feature-img-container {
    position: relative;
}
.feature-img-caption {
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: #fff;

    .h4 {
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
    }
}

// Content for pages other than the homepage
.page-heading {
  img {
    width: 100%;
  }
}

.page-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  padding: 1.5em 3em;

  @media (min-width: 768px) {
    margin-top: -100px;
  }

  h1 {
    font-weight: 600;
  }
}

.filters {
  border-right: 1px solid #000;

  .badge {
    color: #fff;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    cursor: pointer;
    @include no-select(); // Disable user text select

    &:nth-child(5n+1) {
      //background-color: lighten($theme-pink, 60%);
      background-color: transparentize($theme-pink, 0.6);
      &.active {
        background-color: $theme-pink;
      }
    }
    &:nth-child(5n + 2) {
      background-color: transparentize($theme-purple, 0.6);
      &.active {
        background-color: $theme-purple;
      }
    }
    &:nth-child(5n + 3) {
      background-color: transparentize($theme-orange, 0.6);
      &.active {
        background-color: $theme-orange;
      }
    }
    &:nth-child(5n + 4) {
      background-color: transparentize($theme-green, 0.3);
      &.active {
        background-color: darken($theme-green, 10%);
      }
    }
    &:nth-child(5n + 5) {
      background-color: transparentize($theme-blue, 0.3);
      &.active {
        background-color: darken($theme-blue, 12%);
      }
    }
  }
}
