// Header & logo styles

header {
    background-color: transparent;
    @include transition(all 0.25s ease);

    @media (min-width: 768px) {
        height: 170px;
    }

    //h1 {
    //   @include transition(all 0.25s ease);
    //    margin-bottom: 25px;
    //    font-family: $cursive-font;
    //    font-weight: 600;
    //}
    #large-screen-login {
        position: absolute;
        left: 65%;
        top: 35%;
        li {
          list-style-type: none;
          float: left;
          margin-right: 15px;
        }
        a {
          color: $theme-pink;
          &:hover {
            text-decoration: none;
          }
        }
        @media (max-width: 767px) {
          display: none;
        }
    }

    img {
        display: block;
        @include transition(all 0.25s ease);

        @media (min-width: 768px) {
            margin: 20px auto 15px auto;
            height: 80px !important;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &.shrink {
        background-color: rgba(255,255,255,0.9);

        @media (min-width: 768px) {
            height: 140px;
            margin-top: -15px;

            img {
                height: 65px !important;
                margin-bottom: 0px;
            }

            //h1 {
            //    margin-bottom: 0px;
            //}
        }
    }
}
