// Background colors
.bg-pink {
  background-color: $theme-pink;
}
.bg-purple {
  background-color: $theme-purple;
}
.bg-orange {
  background-color: $theme-orange;
}
.bg-green {
  background-color: $theme-green;
}
.bg-blue {
  background-color: $theme-blue;
}
.bg-white {
  background-color: #fff;
}

// Text colors
.text-pink {
  color: $theme-pink;
}
.text-purple {
  color: $theme-purple;
}
.text-orange {
  color: $theme-orange;
}
.text-green {
  color: $theme-green;
}
.text-blue {
  color: $theme-blue;
}
