// Navbar styles

.navbar-brand {
    max-height: 45px;
    float: left;

    @media (min-width: 768px) {
        display: none;
    }
}

.navbar {

    li {
        padding: 5px 15px;
        margin: auto 2px;

        &:nth-child(1) {
            background-color: $theme-pink;
            &:hover {
              background-color: lighten($theme-pink, 5%);
            }
        }
        &:nth-child(2) {
            background-color: $theme-purple;
            &:hover {
              background-color: lighten($theme-purple, 5%);
            }
        }
        &:nth-child(3) {
            background-color: $theme-orange;
            &:hover {
              background-color: lighten($theme-orange, 5%);
            }
        }
        &:nth-child(4) {
            background-color: $theme-green;
            &:hover {
              background-color: lighten($theme-green, 5%);
            }
        }
        &:nth-child(5) {
            background-color: $theme-blue;
            &:hover {
              background-color: lighten($theme-blue, 5%);
            }
        }
        &:nth-child(6) {
            background-color: $theme-pink;
            &:hover {
              background-color: lighten($theme-pink, 5%);
            }
        }

        a {
            padding: 0;
            color: #fff !important;
            font-weight: 600;
            margin-top: -1px;
        }
    }
}
