body {
  background-image: url("../img/floral.png"); }

@media (max-width: 767px) {
  #content-wrapper {
    margin-top: 70px; } }

@media (min-width: 768px) {
  #content-wrapper {
    margin-top: 200px; } }

header {
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  @media (min-width: 768px) {
    header {
      height: 170px; } }
  header #large-screen-login {
    position: absolute;
    left: 65%;
    top: 35%; }
    header #large-screen-login li {
      list-style-type: none;
      float: left;
      margin-right: 15px; }
    header #large-screen-login a {
      color: #E5609A; }
      header #large-screen-login a:hover {
        text-decoration: none; }
    @media (max-width: 767px) {
      header #large-screen-login {
        display: none; } }
  header img {
    display: block;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    @media (min-width: 768px) {
      header img {
        margin: 20px auto 15px auto;
        height: 80px !important; } }
    @media (max-width: 767px) {
      header img {
        display: none; } }
  header.shrink {
    background-color: rgba(255, 255, 255, 0.9); }
    @media (min-width: 768px) {
      header.shrink {
        height: 140px;
        margin-top: -15px; }
        header.shrink img {
          height: 65px !important;
          margin-bottom: 0px; } }

.navbar-brand {
  max-height: 45px;
  float: left; }
  @media (min-width: 768px) {
    .navbar-brand {
      display: none; } }

.navbar li {
  padding: 5px 15px;
  margin: auto 2px; }
  @media (max-width: 767px) {
    .navbar li {
      border: 1px solid #fff; } }
  .navbar li:nth-child(1) {
    background-color: #E5609A; }
    .navbar li:nth-child(1):hover {
      background-color: #e976a8; }
  .navbar li:nth-child(2) {
    background-color: #9F59C6; }
    .navbar li:nth-child(2):hover {
      background-color: #aa6ccd; }
  .navbar li:nth-child(3) {
    background-color: #f79f79; }
    .navbar li:nth-child(3):hover {
      background-color: #f8b091; }
  .navbar li:nth-child(4) {
    background-color: #A9E2AC; }
    .navbar li:nth-child(4):hover {
      background-color: #bce8be; }
  .navbar li:nth-child(5) {
    background-color: #b7d3f2; }
    .navbar li:nth-child(5):hover {
      background-color: #cde0f6; }
  .navbar li:nth-child(6) {
    background-color: #E5609A; }
    .navbar li:nth-child(6):hover {
      background-color: #e976a8; }
  .navbar li:nth-child(7) {
    background-color: #9F59C6; }
    .navbar li:nth-child(7):hover {
      background-color: #aa6ccd; }
    @media (min-width: 768px) {
      .navbar li:nth-child(7) {
        display: none; } }
  .navbar li:nth-child(8) {
    background-color: #f79f79; }
    .navbar li:nth-child(8):hover {
      background-color: #f8b091; }
    @media (min-width: 768px) {
      .navbar li:nth-child(8) {
        display: none; } }
  .navbar li a {
    padding: 0;
    color: #fff !important;
    font-weight: 600;
    margin-top: -1px; }

.feature-img {
  margin-top: 30px;
  filter: brightness(75%);
  width: 100%;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .feature-img:hover {
    filter: brightness(100%);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

.feature-img-container {
  position: relative; }

.feature-img-caption {
  position: absolute;
  bottom: 5%;
  left: 2%;
  color: #fff; }
  .feature-img-caption .h4 {
    font-weight: 600; }
  .feature-img-caption p {
    font-size: 1.2rem; }

.page-heading img {
  width: 100%; }

.page-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  padding: 1.5em 3em; }
  @media (min-width: 768px) {
    .page-content {
      margin-top: -100px; } }
  .page-content h1 {
    font-weight: 600; }

.filters {
  border-right: 1px solid #000; }
  .filters .badge {
    color: #fff;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px; }
    .filters .badge:nth-child(5n+1) {
      background-color: #E5609A; }
    .filters .badge:nth-child(5n + 2) {
      background-color: rgba(159, 89, 198, 0.4); }
    .filters .badge:nth-child(5n + 3) {
      background-color: #f79f79; }
    .filters .badge:nth-child(5n + 4) {
      background-color: #A9E2AC; }
    .filters .badge:nth-child(5n + 5) {
      background-color: #b7d3f2; }

.breadcrumb {
  background: transparent;
  padding-left: 0; }

.bg-pink {
  background-color: #E5609A; }

.bg-purple {
  background-color: #9F59C6; }

.bg-orange {
  background-color: #f79f79; }

.bg-green {
  background-color: #A9E2AC; }

.bg-blue {
  background-color: #b7d3f2; }

.text-pink {
  color: #E5609A; }

.text-purple {
  color: #9F59C6; }

.text-orange {
  color: #f79f79; }

.text-green {
  color: #A9E2AC; }

.text-blue {
  color: #b7d3f2; }
